@model IEnumerable<EntityLayer.Concrete.Work>
@{
    ViewData["Title"] = "Edit";
}

<center><h3>@Model.FirstOrDefault().WorkName</h3></center>

@using (Html.BeginForm("Edit", "Work", FormMethod.Post))
{

    <label for="workName">Work Name *</label>
    @Html.TextBoxFor(x => x.FirstOrDefault().WorkName,new {@id = "workName" , @class="form-control"})
    <br />
    <label for="workStartDate">Work Start Date *</label>
    @Html.TextBoxFor(x => x.FirstOrDefault().WorkStartDate, new {@id = "workStartDate" , @class="form-control",@placeholder="dd-MM-yyyy"})
    <br />
    <label for="workEndDate">Work End Date *</label>
    @Html.TextBoxFor(x => x.FirstOrDefault().WorkEndDate,new {@id = "workEndDate" , @class="form-control",@placeholder="dd-MM-yyyy"})
    <br />
    <button class="btn btn-warning">Edit</button>
}